<h1>Public Displays</h1>
<h2>Some of the places where you can find our work on display</h2>

<ul>
  <li>Denver Museum of Nature and Science (ongoing)</li>
  <li>Colorado National Monument Visitor Center</li>
  <li>Florissant Fossil Beds National Monument Visitor Center</li>
  <li>Garden of the Gods Visitor Center, Colorado Springs, Colorado</li>
  <li>Colorado School of Mines Geology Museum</li>
  <li>University of Colorado Museum of Natural History</li>
  <li>Walking Mountains Science Center, Avon, Colorado</li>
  <li>Brewster Travel Canada Interpretive Tours</li>
</ul>
  





<script>
$(document).ready(function() {
  //highlight appropriate nav tab
  $("li[rel$='staff']").toggleClass("nav_button nav_button_active");
});
</script>
