<%= image_tag("banner_top_1024.jpg") %>
<p align="center">Our mission is to illustrate basic principles of geology in entertaining and accessible ways. We create digital animations and interactive displays showing the geologic evolution of Colorado and other locations for use in schools, museums, national parks, and by the general public.</p>

<ul>
	<li>To educate the public about key geologic processes and their impact on society</li><br />
	<li>To help the public understand the geologic processes that shape the world through detailed explorations of select areas.</li><br />
	<li>To fully integrate 3D visualization techniques into geology education by developing geologically accurate animations and interactive displays.</li><br />
	<li>To provide these resources free of charge to educators and the general public.</li>
</ul>
