<%= image_tag("banner_top_1024.jpg") %>
 <h1>Staff</h1>
            <div class="hr">&nbsp;</div>
            
            <h1>Project Director</h1><br />
            <table class="layout">
            <tr>
            	<td><%=image_tag("paul_pict.jpg")%><%=image_tag("paul.jpg")%>
                </td>
                <td class="top"><h2>Paul Weimer</h2><br />
                Professor - Sequence Stratigraphy<br />
                Director of the <a href="http://emarc.colorado.edu">Energy and Minerals Applied Research Center</a>
                </td>
            </tr>
            </table>
            
            <h1>Project Staff</h1><br />
            <table class="layout">
            <tr>
            	<td width="225">&nbsp;
                </td>
                <td class="top"><h2>Joseph Rogers</h2>
                </td>
            </tr>
            <tr>
            	<td width="225">&nbsp;
                </td>
                <td class="top"><h2>Ludvig Rhodin</h2>
                </td>
            </tr>
            <tr>
            	<td width="225">&nbsp;
                </td>
                <td class="top"><h2>Jim Adson</h2>
                </td>
            </tr>
		<tr>
		<td width="225">&nbsp;
		</td>
		<td class="top"><h2>Eric Lobato</h2>
		</td>
		</tr>
            </table>
