<h1>Our work would not be possible without the support of:</h1>

<ul class="supporters">
  <li class="supporters">
  <li class="supporters">Paul M. Rady</li>
  <li class="supporters">The Rady Family Foundation</li>
  <li class="supporters">AAPG Foundation</li>
  <li class="supporters">John &amp; Erika Lockridge</li>
  <li class="supporters">SEG Foundation</li>
  <li class="supporters">Bruce Benson</li>
  <li class="supporters">Whiting Petroleum</li>
  <li class="supporters">Marshall &amp; Jane Crouch</li>
  <li class="supporters">GCS SEPM Foundation</li>
  <li class="supporters">Mike Johnson</li>
  <li class="supporters">Denver Museum of Nature &amp; Science</li>
  <li class="supporters">Ron Blakey</li>
  <li class="supporters">Colorado Plateau Geosystems</li>
  <li class="supporters">National Park Service</li>
  <li class="supporters">Paul Weimer</li>
  <li class="supporters">Robert Weimer and Ruth Adams-Weimer</li>
  <li class="supporters">Anschutz Family Foundation</li>
  <li class="supporters">American Geosciences Institute</li>
  <li class="supporters">RMAG Foundation</li>
  <li class="supporters">John Robinson</li>
  <li class="supporters">Bill Barrett</li>
  <li class="supporters">John Roesink</li>
  <li class="supporters">David Eby</li>
  <li class="supporters">Matthew Silverman</li>
  <li class="supporters">Bud Reid</li>
  <li class="supporters">Steve Cumella</li>
  <li class="supporters">Rutt Bridges family Foundation</li>
  <li class="supporters">Westport Resources</li>
  <li class="supporters">Rutt Bridges Family Foundation</li>
  <li class="supporters">&nbsp;<!--spacer--></li>
</ul>





<script>
$(document).ready(function() {
  //highlight appropriate nav tab
  $("li[rel$='supporters']").toggleClass("nav_button nav_button_active");
});
</script>
