$("#" + <%= params[:vid] %>).html('<iframe src="//player.vimeo.com/video/<%= params[:vid] %>?title=0&amp;byline=0&amp;portrait="0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>');
$("#" + <%= params[:vid] %> + "t").html('<h2><%= params[:name] %></h2>')
