// Styles for the home page
// Automatically included in application.css

//Use some SASS variables
//decreased width by factor of 0.85
$eyecatch_width: 1020;

#eyecatch_container_main {
  width: $eyecatch_width;
  //height: $eyecatch_height;
  margin: 8px 0 0 0;
}

#leftblock {
  float: left;
  width: 510px;
  margin: 0;
  padding: 0;
}

#left_top_container {
  height: 66.7%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#middleblock {
  float: left;
  width: 170px; 
  margin: 0;
  padding: 0;
}

#rightblock {
  float: left;
  width: 340px;
  margin: 0;
  padding: 0;
}


//divs to contain eyecatch images

.imagebox {
  float: left;
  overflow: hidden;
  margin: 0 11px 11px 0;
  box-shadow: 3px 3px 4px #555;
  border: 1px solid #555;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}


#left_top_boxes {
  width: 242px;
  height: 136px;
  line-height: 136px; //necessary for keeping text at bottom

}

#left_bottom {
  width: 499px;
  height: 136px;
  line-height: 136px;
}

#middle_top {
  width: 159px;
  height: 285px; //must add 2px for borders
  line-height: 285px;
}

#middle_bottom {
  width: 159px;
  height: 136px;
  line-height: 136px;
}


#right_top {
  width: 340px;
  height: 136px;
  line-height: 136px;
}

#right_bottom {
  width: 340px;
  height: 285px;
  line-height: 285px;
}





//hover captions
div.caption {
  display: none;
  z-index: 9000;
  background-color: #ffffff;
  opacity: 0.6;
  position: absolute;
  top: inherit;
  left: inherit;
  width: inherit;
  height: inherit;
  line-height: inherit;
  color: #333;
  font-size: 14px;
  font-weight: bold;
}

span.caption { //necessary for placing text at bottom
  display: inline-block;
  vertical-align: bottom;
  text-align: left;
  line-height: 1em;
  margin: 6px 6px 6px 6px;
}



//video player overlay

div.overlay {
  background-image: url(/images/overlay_bg.png);
  z-index: 10000;
  display: none;
  width: 1000px;
  height: 600px;
  position: fixed;
}

div.home_closebox {
  position: absolute;
  top: 30px;
  right: 30px;
  height: 28px;
  width: 28px;
  z-index: 11000;
  opacity: 0.8;
  cursor: pointer;
}

div.video_holder {
  background: transparent;
  z-index: 10001;
  padding: 0;
  margin: 0;
}
  

iframe.player_overlay{
  position: absolute;
  top: 47px;
  right: 50px;
  border: 1px solid #666;
  width: 900px;
  height: 506px;
}

div.darkmask {
  z-index: 9999;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: #333;
  display: none;
}

div.video_caption {
  position: absolute;
  top: 560px;
  left: 50px;
  width: 900px;

  p {
    text-align: center;
    font-size: 14px;
    margin: 0;
    padding: 0;
    color: #E0E0E0;
  }

  a {
    color: #D8D8D8;
    text-decoration: none;
  }

  a:hover {
    color: #F0F0F0;
  }
}




//everything else

#banner_top {
}

#banner_img {
  box-shadow: 3px 3px 4px #555;
  border: 1px solid #555;
}

#banner_text {
  position: absolute;
  top: inherit; 
  margin-left: 8px;
  margin-top: 8px;
}


h2.homepage {
  padding: 0px 0px 0px 0px;
  margin: 25px 0 10px 0;
}

#homepage_text {
  clear: both;
  width: 1000px;
  font-size: 12pt;
  text-align: left;
}

ul.homepage {
  width: 1000px;
  font-size: 12pt;
  text-align: left;
}

#homepage_textarea {
  clear: both;
  width: 1000px;
  background-color: transparent;
  margin: 0 0 0 0;
  padding: 5px 10px 15px 10px;
}


