// Styles for the home page
// Automatically included in application.css

//Use some SASS variables
$eyecatch_width: 1200px;
$eyecatch_height: 500px;

#eyecatch_container_main {
	width: $eyecatch_width;
	height: $eyecatch_height;
	margin-top: 6px;
}

#leftblock {
	float: left;
	width: 600px;
}

#left_top_container {
	height: 2 * $eyecatch_height / 3;
	width: 100%;
}

#middleblock {
	float: left;
	width: 200px; 
}

#rightblock {
	float: left;
	width: 400px;
}


//divs to contain eyecatch images


#left_top_boxes {
	float: left;
	overflow: hidden;
	width: 294px;
	height: 165px;
	margin-bottom: 6px;
	margin-right: 6px;

}

#left_bottom {
	overflow: hidden;
	width: 594px;
	height: 165px;
	margin-right: 6px;
}

#middle_top {
	overflow: hidden;
	width: 194px;
	height: 336px;
	margin-right: 6px;
	margin-bottom: 6px;
}

#middle_bottom {
	overflow: hidden;
	width: 194px;
	height: 165px;
	margin-right: 6px;
}


#right_top {
	overflow: hidden;
	width: 400px;
	height: 165px;
	margin-bottom: 6px;
}

#right_bottom {
	overflow: hidden;
	width: 400px;
	height: 336px;
}





//eyecatch images
//images are scaled to fill box then centered and cropped

img.left_top_boxes { //these are not cropped
	width: 100%;
}

img.left_bottom {
	width: 100%;
	position: relative;
	top: -84.6px; //centers scaled image in div
}


img.middle_top {
	height: 100%;
	position: relative;
	left: -201.7px;
}

img.middle_bottom {
	height: 100%;
	position: relative;
	left: -50px;
}


img.right_top {
	width: 100%;
	position: relative;
	top: -30px;
}

img.right_bottom {
	height: 100%;
	position: relative;
	left: -99px; 
}




//hover captions
div.caption {
	z-index: 9000;
	background-color: #505050;
	opacity: 0.7;
	position: absolute;
	color: white;
	font-size: 14px;
	font-weight: bold;
	padding: 6px 6px 6px 6px;
}



h2.homepage {
	padding: 0px 0px 0px 0px;
	margin: 25px 0 10px 0;
}

#homepage_text {
	clear: both;
	max-width: 1200px;
	min-width: 900px;
	font-size: 14pt;
	text-align: left;
}

ul.homepage {
	max-width: 1200px;
	min-width: 900px;
	font-size: 12pt;
	text-align: left;
}

#homepage_textarea {
	width: 1200px;
	background-color: #E8E8E8;
	margin: 0 0 0 0;
	padding: 5px 10px 15px 10px;
}

div.apple_overlay {
	background-image: url(/images/overlay_bg.png);
	display: none;
	width: 1000px;
}

div.apple_overlay .close {
	background-image: url(/images/close.png);
	opacity: 1;
	position: absolute;
	right: 30px;
	top: 25px;
	right: 23px;
	height: 28px;
	width: 28px;
}

iframe.player_overlay{
	position: absolute;
	top: 47px;
	right: 50px;
	border: 1px solid #666;
}
