//css styles for video library page

ul.library {
	list-style-type: none;
	//padding-start: 0px;
	margin: 0;
	background-color: #E8E8E8;
	padding: 0 0 10px 0;
	min-width: 920px;
}

li.library {
	padding-right: 10px;
	padding-left: 10px;
}

li.vid_title {
	clear: both;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 15px;
}

img.vid_thumbnail {
	height: 281px;
	width: 500px;
}


h2.vid_title {
	max-width: 1200px;
	min-width: 900px;

}

p.vid_description {
	max-width: 1200px;
	min-width: 900px;
	min-height: 300px;
}

div.vid_thumbnail {
	float: left;
	padding-right: 15px;
	padding-bottom: 15px;
}

div.album_button {
	float: left;
	background-color: #C0C0C0;
	padding: 7px 3px 7px 3px;
	margin: 2px 2px 2px 2px;
}

a:link.album {
	color: white;
	background-color: #909090;
	padding: 5px 5px 5px 5px;
}

a:selected.album {
	color: white;
	background-color: #909090;
}

a:visited.album {
	color: white;
	background-color: #909090;
}

a:hover.album {
	color: white;
	background-color: #606060;
	padding: 5px 5px 5px 5px;
}

#searchbar {
	background-color: #909090;
	padding: 8px 8px 8px 8px;
	margin: 0 0 0 0;
	list-style-type: none;
}

#albums_bar {
	padding-top: 10px;
	padding-bottom: 20px;
	min-width: 900px;
	max-width: 1200px;
}
