// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




img.staff_photo {
	margin-right: 10px;
	margin-bottom: 5px;
	width: 300px;
}


p.staff_list {
	font-size: 18px;
	float: left;
}


img.staff_photo_test {
	margin-right: 10px;
	margin-bottom: 5px;
	width: 300px;
	float: left;
}


ul.staff_list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}


ul.layout {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
