// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#banner_top {
	margin-top: 24px; //puts banner below the navigation bar
}

img.staff_photo {
	margin-right: 10px;
	margin-bottom: 5px;
	width: 300px;
	}


p.staff_list {
	font-size: 18px;
	float: left;
	//min-height: 200px;
}


img.staff_photo_test {
	//position: relative;
	//top: 0px;
	margin-right: 10px;
	margin-bottom: 5px;
	width: 300px;
	float: left;
	//vertical-align: text-bottom;
	}


ul.staff_list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}


ul.layout {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
